.mgmg{
    color: brown;
    
}
.ayeaye{
    color: blue;
}
.tuntun{
    color: blueviolet;
}
.nunu{
    color: chartreuse;
}
.thel{
    color: cornflowerblue;
}
.su{
    color: darkgreen;
}
.agag{
    color: darksalmon;
}
.swe{
    color: dimgray;
}
.wewe{
    color: hotpink;
}
.phyo{
    color: lightcoral;
}
.yuyu{
    color: firebrick;
}
.didi{
    color: saddlebrown;
}
